.env
tasks.txt
/servidor/test.py
/servidor/testing/
/servidor/base_datos/__pycache__
/servidor/clases/__pycache__
/ui/env
/ui/clases/__pycache__
/ui/controllers/__pycache__
/ui/db/__pycache__
/ui/modelos/__pycache__
/ui/views/__pycache__
/ui/views/Principal.py